<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
  <title>Marquez - Homepage With Parallax | Creative Multipurpose HTML5 Template</title>
  <link rel="shortcut icon" type="image/x-icon" href="images/theme-mountain-favicon.ico">

  <!-- Font -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700%7CLato:300,400,700' rel='stylesheet' type='text/css'>

  <!-- Css -->
  <link rel="stylesheet" href="css/core.min.css" />
  <link rel="stylesheet" href="css/skin.css" />

  <!--[if lt IE 9]>
      <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body class="home-page">

  <!-- Overlay Navigation Menu -->
  <div class="overlay-navigation-wrapper" data-no-scrollbar data-animation="scale-in">
    <div class="overlay-navigation-scroll-pane">
      <div class="overlay-navigation-inner">
        <div class="v-align-middle">
          <div class="overlay-navigation-header row collapse full-width">
            <div class="column width-12">
              <div class="navigation-hide overlay-nav-hide">
                <a href="#">
                  <span class="icon-cancel"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="row collapse full-width">
            <div class="column width-12">
              <nav class="overlay-navigation pull-left clear-float-on-mobile">
                <span class="menu-title">Pages</span>
                <ul>
                  <li>
                    <a href="#" class="contains-sub-menu">Home</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="index.html">Home Default</a>
                      </li>
                      <li class="current">
                        <a href="index-with-parallax.html">Home with Parallax</a>
                      </li>
                      <li>
                        <a href="index-with-video.html">Home with Video</a>
                      </li>
                      <li>
                        <a href="index-with-blog-portfolio.html">Home with Blog &amp; Folio</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="contains-sub-menu">About</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="about-style-one.html">About Regular</a>
                      </li>
                      <li>
                        <a href="about-style-two.html">About Style 2</a>
                      </li>
                      <li>
                        <a href="about-style-three.html">About Style 3</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="contains-sub-menu">News</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="blog.html">3 Column Grid</a>
                      </li>
                      <li>
                        <a href="blog-four-columns-full-width.html">4 Column Full Width Grid</a>
                      </li>
                      <li>
                        <a href="blog-sidebar-right-with-media.html">Blog Index With Sidebar</a>
                      </li>
                      <li>
                        <a href="blog-wide-no-sidebar.html">Blog Without Sidebar</a>
                      </li>
                      <li>
                        <a href="blog/blog-single-post-sidebar-right.html">Single Post Sidebar Right</a>
                      </li>
                      <li>
                        <a href="blog/blog-single-post-sidebar-right-no-media.html">Single Post Without Media</a>
                      </li>
                      <li>
                        <a href="blog/blog-single-post-sidebar-right-with-media.html">Single Post With Media</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="contains-sub-menu">Folio</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="portfolio-three-columns.html">3 Column Grid Default</a>
                      </li>
                      <li>
                        <a href="portfolio-three-columns-alternative.html">3 Column Grid Alt</a>
                      </li>
                      <li>
                        <a href="portfolio-three-columns-full-width.html">3 Column Grid Full Width</a>
                      </li>
                      <li>
                        <a href="portfolio-three-columns-full-width-no-margins.html">3 Column Grid Full Width No Margins</a>
                      </li>
                      <li>
                        <a href="portfolio-four-columns-full-width-alternative.html">4 Column Grid Full Width Alt</a>
                      </li>
                      <li>
                        <a href="portfolio-four-columns-full-width-no-margins.html">4 Column Grid Full Width No Margins</a>
                      </li>
                      <li>
                        <a href="portfolio-masonry-grid.html">Masonry Layout Margin</a>
                      </li>
                      <li>
                        <a href="portfolio-masonry-grid-no-margins.html">Masonry Grid No Margins</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="contains-sub-menu">Contact</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="contact-style-one.html">Contact Regular</a>
                      </li>
                      <li>
                        <a href="contact-style-two.html">Contact Style 2</a>
                      </li>
                      <li>
                        <a href="contact-style-three.html">Contact Style 3</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="contains-sub-menu">More</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="elements.html">Elements</a>
                      </li>
                      <li>
                        <a href="404.html">400 Not Found</a>
                      </li>
                      <li>
                        <a href="500.html">500 Error</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
              <nav class="overlay-navigation pull-left clear-float-on-mobile hide-on-mobile">
                <span class="menu-title">Projects</span>
                <ul>
                  <li>
                    <a href="portfolio/distillery.html">Distillery</a>
                  </li>
                  <li>
                    <a href="portfolio/packaging.html">The Coffee Shop</a>
                  </li>
                  <li>
                    <a href="portfolio/barber-shop.html">Rockabilly Barber</a>
                  </li>
                  <li>
                    <a href="portfolio/clothing.html">Montreal Clothing</a>
                  </li>
                  <li>
                    <a href="portfolio/mobile-app.html">Macaw iOS App</a>
                  </li>
                  <li>
                    <a href="portfolio/restaurant.html">The Cantina</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="overlay-navigation-footer row full-width">
            <div class="column width-12 no-padding">
              <p class="copyright no-margin-bottom">&copy; 2014 THEMEMOUNTAIN. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Overlay Navigation Menu End -->

  <div class="wrapper reveal-side-navigation">
    <div class="wrapper-inner">

      <!-- Header -->
      <header class="header header-fixed header-fixed-on-mobile header-transparent" data-bkg-threshold="100" data-compact-threshold="100">
        <div class="header-inner">
          <div class="row collapse full-width nav-bar reveal-side-navigation">
            <div class="column width-12 nav-bar-inner">
              <div class="logo">
                <div class="logo-inner">
                  <a href="index.html"><img src="images/logo-dark.png" alt="Marquez Logo" /></a>
                  <a href="index.html"><img src="images/logo.png" alt="Marquez Logo" /></a>
                </div>
              </div>
              <nav class="navigation nav-block secondary-navigation nav-right">
                <ul>
                  <li class="aux-navigation hide">
                    <!-- Aux Navigation -->
                    <a href="#" class="navigation-show overlay-nav-show nav-icon">
                      <span class="icon-menu"></span>
                    </a>
                  </li>
                </ul>
              </nav>
              <nav class="navigation nav-block primary-navigation nav-right">
                <ul>
                  <li class="current">
                    <a href="index.html">Home</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="index.html">Home Default</a>
                      </li>
                      <li class="current">
                        <a href="index-with-parallax.html">Home with Parallax</a>
                      </li>
                      <li>
                        <a href="index-with-video.html">Home with Video</a>
                      </li>
                      <li>
                        <a href="index-with-blog-portfolio.html">Home with Blog &amp; Folio</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="about-style-one.html">About</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="about-style-one.html">About Regular</a>
                      </li>
                      <li>
                        <a href="about-style-two.html">About Style 2</a>
                      </li>
                      <li>
                        <a href="about-style-three.html">About Style 3</a>
                      </li>
                    </ul>
                  </li>
                  <li class="contains-mega-sub-menu">
                    <a href="portfolio-three-columns.html">Folio</a>
                    <ul class="mega-sub-menu">
                      <li>
                        <a href="portfolio-three-columns.html">3 Column Grids</a>
                        <ul>
                          <li>
                            <a href="portfolio-three-columns.html">3 Column Grid Default</a>
                          </li>
                          <li>
                            <a href="portfolio-three-columns-alternative.html">3 Column Grid Alt</a>
                          </li>
                          <li>
                            <a href="portfolio-three-columns-full-width.html">3 Column Grid Full Width</a>
                          </li>
                          <li>
                            <a href="portfolio-three-columns-full-width-no-margins.html">3 Column Grid Full Width No Margins</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="portfolio-four-columns-full-width-alternative.html">4 Column Grids</a>
                        <ul>
                          <li>
                            <a href="portfolio-four-columns-full-width-alternative.html">4 Column Grid Full Width Alt</a>
                          </li>
                          <li>
                            <a href="portfolio-four-columns-full-width-no-margins.html">4 Column Grid Full Width No Margins</a>
                          </li>
                          <li>
                            <a href="portfolio-masonry-grid.html">Full Width Masonry Grid</a>
                          </li>
                          <li>
                            <a href="portfolio-masonry-grid-no-margins.html">Full Width Masonry Grid No Margins</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="">About Portfolios</a>
                        <ul>
                          <li>
                            <p>The portfolios of Marquez showcases three and four column grids only, but they can easily be switched from two to six columns. Make any grid fixed width, full width, with small margins or no margin at all. All grid examples can be added to any of our demos.</p>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="blog.html">Blog</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="blog.html">3 Column Grid</a>
                      </li>
                      <li>
                        <a href="blog-four-columns-full-width.html">4 Column Full Width Grid</a>
                      </li>
                      <li>
                        <a href="blog-sidebar-right-with-media.html">Blog Index With Sidebar</a>
                      </li>
                      <li>
                        <a href="blog-wide-no-sidebar.html">Blog Without Sidebar</a>
                      </li>
                      <li>
                        <a href="blog/blog-single-post-sidebar-right.html">Single Post Sidebar Right</a>
                      </li>
                      <li>
                        <a href="blog/blog-single-post-sidebar-right-no-media.html">Single Post Without Media</a>
                      </li>
                      <li>
                        <a href="blog/blog-single-post-sidebar-right-with-media.html">Single Post With Media</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="contact-style-one.html">Contact</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="contact-style-one.html">Contact Regular</a>
                      </li>
                      <li>
                        <a href="contact-style-two.html">Contact Style 2</a>
                      </li>
                      <li>
                        <a href="contact-style-three.html">Contact Style 3</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="elements.html">More</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="elements.html">Elements</a>
                      </li>
                      <li>
                        <a href="404.html">400 Not Found</a>
                      </li>
                      <li>
                        <a href="500.html">500 Error</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <!-- Header End -->

      <!-- Content -->
      <div class="content clearfix">

        <!-- Back Top -->
        <div class="scroll-to-top">
          <a href="#">Back Up Top</a>
        </div>
        <!-- Back Top End -->

        <!-- Fullscreen Slider Section -->
        <section class="section-block featured-media window-height tm-slider-parallax-container">

          <!-- Scroll Down -->
          <div class="scroll-down">
            <a href="#about" class="scroll-link">Scroll Down</a>
          </div>
          <!-- Scroll Down End -->

          <div class="tm-slider-container full-width-slider" data-parallax data-external-padding="60" data-animation="slide" data-scale-under="960">
            <ul class="tms-slides">
              <li class="tms-slide" data-image data-force-fit>
                <div class="tms-content">
                  <div class="tms-content-inner center">
                    <div class="row">
                      <div class="column width-12">
                        <h1 class="tms-caption title-xlarge color-white lspacing-medium"
                          data-animate-in="preset:scaleOut;duration:1000ms;"
                        >
                          Design Agency
                        </h1>
                        <div class="clear"></div>
                        <h3 class="tms-caption font-alt-1 color-white lspacing-xlarge"
                          data-animate-in="preset:slideInUpShort;duration:1000ms;delay:200ms;"
                        >
                          New York City
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
                <img data-src="images/slider/slide-20-fs.jpg" data-retina src="images/blank.png" alt=""/>
              </li>
            </ul>
          </div>
        </section>
        <!-- Fullscreen Slider Section End -->

        <!-- About Intro -->
        <div id="about" class="section-block">
          <div class="row">
            <div class="column width-8 offset-2 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
              <p class="lead text-large weight-bold color-charcoal">Welcome to Marquez. We build beautiful and unique online experiences. Our design is minimal but effective.</p>
              <a href="about-style-one.html" class="button medium bkg-black bkg-hover-pink color-white color-hover-white mb-30 text-line-vertical fade-location">Read More</a>
            </div>
          </div>
        </div>
        <!-- About Intro End -->

        <!-- Stat Section 1 -->
        <div class="section-block replicable-content stats-1 stats-1-homepage bkg-charcoal color-white left center-on-mobile">
          <div class="row">
            <div class="column width-12">
              <div class="stat-content">
                <div class="stat-content-inner">
                  <div class="row small no-margins">
                    <div class="column width-4">
                      <h2 class="mb-30">Some Agency <br>Stats</h2>
                    </div>
                    <div class="column width-8">
                      <div class="row content-grid-4">
                        <div class="grid-item">
                          <div class="stat">
                            <div class="stat-inner">
                              <p class="counter"><span class="stat-counter" data-count-from="525" data-count-to="625">525</span></p>
                              <p class="description">Websites Made</p>
                            </div>
                          </div>
                        </div>
                        <div class="grid-item">
                          <div class="stat">
                            <div class="stat-inner">
                              <p class="counter"><span class="stat-counter" data-count-from="250" data-count-to="350">250</span></p>
                              <p class="description">Identities Created</p>
                            </div>
                          </div>
                        </div>
                        <div class="grid-item">
                          <div class="stat">
                            <div class="stat-inner">
                              <p class="counter"><span class="stat-counter" data-count-from="450" data-count-to="550">450</span></p>
                              <p class="description">Posters Created</p>
                            </div>
                          </div>
                        </div>
                        <div class="grid-item">
                          <div class="stat mb-mobile-30">
                            <div class="stat-inner">
                              <p class="counter"><span class="stat-counter" data-count-from="800" data-count-to="900">800</span></p>
                              <p class="description">Projects to Date</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="column width-8 offset-4 left">
                      <p class="lead">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Stat Section 1 -->

        <!-- Portfolio Content -->
        <section class="section-block replicable-content no-padding-bottom">
          <div class="row">
            <div class="column width-6 offset-3 center">
              <h2 class="mb-50">Recent Projects</h2>
            </div>
          </div>
        </section>
        <!-- Portfolio Content End -->

        <!-- Portfolio Grid Section -->
        <div class="section-block grid-container fade-in-progressively no-padding-top" data-layout-mode="masonry" data-animate-filter-duration="700" data-animate-resize data-animate-resize-duration="0">
          <div class="row">
            <div class="column width-12">
              <div class="row grid content-grid-3">
                <div class="grid-item grid-sizer identity photography">
                  <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
                    <a class="overlay-link" href="portfolio/distillery.html">
                      <img src="images/portfolio/grid/large-margins/project-1-landscape.jpg" alt=""/>
                      <span class="overlay-info">
                        <span>
                          <span>
                            <span class="project-title">8Threefifty</span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </div>
                </div>
                <div class="grid-item design photography">
                  <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
                    <a class="overlay-link" href="portfolio/packaging.html">
                      <img src="images/portfolio/grid/large-margins/project-2-landscape.jpg" alt=""/>
                      <span class="overlay-info">
                        <span>
                          <span>
                            <span class="project-title">The Coffee Man</span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </div>
                </div>
                <div class="grid-item design identity">
                  <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
                    <a class="overlay-link" href="portfolio/barber-shop.html">
                      <img src="images/portfolio/grid/large-margins/project-3-landscape-alt.jpg" alt=""/>
                      <span class="overlay-info">
                        <span>
                          <span>
                            <span class="project-title">Rockabilly</span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </div>
                </div>
                <div class="grid-item identity">
                  <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
                    <a class="overlay-link" href="portfolio/restaurant.html">
                      <img src="images/portfolio/grid/large-margins/project-5-landscape.jpg" alt=""/>
                      <span class="overlay-info">
                        <span>
                          <span>
                            <span class="project-title">Cantina</span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </div>
                </div>
                <div class="grid-item application">
                  <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
                    <a class="overlay-link" href="portfolio/mobile-app.html">
                      <img src="images/portfolio/grid/large-margins/project-5-landscape-alt-2.jpg" alt=""/>
                      <span class="overlay-info">
                        <span>
                          <span>
                            <span class="project-title">Macaw</span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </div>
                </div>
                <div class="grid-item design identity">
                  <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
                    <a class="overlay-link" href="portfolio/clothing.html">
                      <img src="images/portfolio/grid/large-margins/project-4-landscape-alt.jpg" alt=""/>
                      <span class="overlay-info">
                        <span>
                          <span>
                            <span class="project-title">Montreal</span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Portfolio Grid Section End -->

      </div>
      <!-- Content End -->

      <!-- Footer -->
      <footer class="footer">
        <div class="footer-top">
          <div class="row flex">
            <div class="column width-4">
              <div class="widget">
                <h4>We're Digital Creatives</h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>
                  126-130 Crosby Street, Soho<br>
                  New York City, NY 10012, U.S.<br>
                  &copy; ThemeMountain.
                </p>
                <ul class="social-list list-horizontal pull-left clear-float-on-mobile left">
                  <li><a href="#"><span class="icon-twitter small"></span></a></li>
                  <li><a href="#"><span class="icon-facebook small"></span></a></li>
                  <li><a href="#"><span class="icon-dribbble small"></span></a></li>
                </ul>
              </div>
            </div>
            <div class="column width-4">
              <div class="widget">
                <h4>From the Blog</h4>
                <ul class="list-group large">
                  <li>
                    <span class="post-info"><span class="post-date">27 Jul 2014</span></span>
                    <a href="#">Our New Los Angeles Downtown Office</a>
                  </li>
                  <li>
                    <span class="post-info"><span class="post-date">02 Jun 2014</span></span>
                    <a href="#">Tutorial - Hidden Gems of Sublime</a>
                  </li>
                  <li>
                    <span class="post-info"><span class="post-date">15 May 2014</span></span>
                    <a href="#">New Team Member - Jason Adams</a>
                  </li>
                  <li>
                    <span class="post-info"><span class="post-date">15 May 2014</span></span>
                    <a href="#">The New Twitter API</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="column width-4">
              <h4>Stay Creative</h4>
              <div class="signup-form-container">
                <form class="signup-form" action="#" method="post" novalidate>
                  <div class="row">
                    <div class="column width-12">
                      <div class="field-wrapper">
                        <input type="text" name="fname" class="form-name form-element large" placeholder="First Name" tabindex="1" required>
                        <span class="border"></span>
                      </div>
                    </div>
                    <div class="column width-12">
                      <div class="field-wrapper">
                        <input type="email" name="email" class="form-email form-element large" placeholder="Email" tabindex="2" required>
                        <span class="border"></span>
                      </div>
                    </div>
                    <div class="column width-12">
                      <input type="submit" value="Signup" class="form-submit button small bkg-charcoal bkg-hover-pink color-grey-light color-hover-white text-uppercase">
                    </div>
                  </div>
                  <input type="text" name="honeypot" class="form-honeypot form-element">
                </form>
                <div class="form-response color-white show">We don't spam, promise!</div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer End -->

    </div>
  </div>

  <!-- Js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?v=3"></script>
  <script src="js/timber.master.min.js"></script>
</body>
</html>
