  <!-- Overlay Navigation Menu -->
  <div class="overlay-navigation-wrapper" data-no-scrollbar data-animation="scale-in">
    <div class="overlay-navigation-scroll-pane">
      <div class="overlay-navigation-inner">
        <div class="v-align-middle">
          <div class="overlay-navigation-header row collapse full-width">
            <div class="column width-12">
              <div class="navigation-hide overlay-nav-hide">
                <a href="#">
                  <span class="icon-cancel"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="row collapse full-width">
            <div class="column width-12">
              <nav class="overlay-navigation pull-left clear-float-on-mobile">
                <span class="menu-title">Pages</span>
                <ul>
                  <li>
                    <a href="#" class="contains-sub-menu">Home</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="index.html">Home Default</a>
                      </li>
                      <li class="current">
                        <a href="index-with-parallax.html">Home with Parallax</a>
                      </li>
                      <li>
                        <a href="index-with-video.html">Home with Video</a>
                      </li>
                      <li>
                        <a href="index-with-blog-portfolio.html">Home with Blog &amp; Folio</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="contains-sub-menu">About</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="about-style-one.html">About Regular</a>
                      </li>
                      <li>
                        <a href="about-style-two.html">About Style 2</a>
                      </li>
                      <li>
                        <a href="about-style-three.html">About Style 3</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="contains-sub-menu">News</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="blog.html">3 Column Grid</a>
                      </li>
                      <li>
                        <a href="blog-four-columns-full-width.html">4 Column Full Width Grid</a>
                      </li>
                      <li>
                        <a href="blog-sidebar-right-with-media.html">Blog Index With Sidebar</a>
                      </li>
                      <li>
                        <a href="blog-wide-no-sidebar.html">Blog Without Sidebar</a>
                      </li>
                      <li>
                        <a href="blog/blog-single-post-sidebar-right.html">Single Post Sidebar Right</a>
                      </li>
                      <li>
                        <a href="blog/blog-single-post-sidebar-right-no-media.html">Single Post Without Media</a>
                      </li>
                      <li>
                        <a href="blog/blog-single-post-sidebar-right-with-media.html">Single Post With Media</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="contains-sub-menu">Folio</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="portfolio-three-columns.html">3 Column Grid Default</a>
                      </li>
                      <li>
                        <a href="portfolio-three-columns-alternative.html">3 Column Grid Alt</a>
                      </li>
                      <li>
                        <a href="portfolio-three-columns-full-width.html">3 Column Grid Full Width</a>
                      </li>
                      <li>
                        <a href="portfolio-three-columns-full-width-no-margins.html">3 Column Grid Full Width No Margins</a>
                      </li>
                      <li>
                        <a href="portfolio-four-columns-full-width-alternative.html">4 Column Grid Full Width Alt</a>
                      </li>
                      <li>
                        <a href="portfolio-four-columns-full-width-no-margins.html">4 Column Grid Full Width No Margins</a>
                      </li>
                      <li>
                        <a href="portfolio-masonry-grid.html">Masonry Layout Margin</a>
                      </li>
                      <li>
                        <a href="portfolio-masonry-grid-no-margins.html">Masonry Grid No Margins</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="contains-sub-menu">Contact</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="contact-style-one.html">Contact Regular</a>
                      </li>
                      <li>
                        <a href="contact-style-two.html">Contact Style 2</a>
                      </li>
                      <li>
                        <a href="contact-style-three.html">Contact Style 3</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="contains-sub-menu">More</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="elements.html">Elements</a>
                      </li>
                      <li>
                        <a href="404.html">400 Not Found</a>
                      </li>
                      <li>
                        <a href="500.html">500 Error</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
              <nav class="overlay-navigation pull-left clear-float-on-mobile hide-on-mobile">
                <span class="menu-title">Projects</span>
                <ul>
                  <li>
                    <a href="portfolio/distillery.html">Distillery</a>
                  </li>
                  <li>
                    <a href="portfolio/packaging.html">The Coffee Shop</a>
                  </li>
                  <li>
                    <a href="portfolio/barber-shop.html">Rockabilly Barber</a>
                  </li>
                  <li>
                    <a href="portfolio/clothing.html">Montreal Clothing</a>
                  </li>
                  <li>
                    <a href="portfolio/mobile-app.html">Macaw iOS App</a>
                  </li>
                  <li>
                    <a href="portfolio/restaurant.html">The Cantina</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="overlay-navigation-footer row full-width">
            <div class="column width-12 no-padding">
              <p class="copyright no-margin-bottom">&copy; 2014 THEMEMOUNTAIN. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Overlay Navigation Menu End -->

  <div class="wrapper reveal-side-navigation">
    <div class="wrapper-inner">

      <!-- Header -->
      <header class="header header-fixed header-fixed-on-mobile header-transparent" data-bkg-threshold="100" data-compact-threshold="100">
        <div class="header-inner">
          <div class="row collapse full-width nav-bar reveal-side-navigation">
            <div class="column width-12 nav-bar-inner">
              <div class="logo">
                <div class="logo-inner">
                  <a href="index.html"><img src="<%=asset_path('panda.png')%>"/></a>
                </div>
              </div>
              <nav class="navigation nav-block secondary-navigation nav-right">
                <ul>
                  <li class="aux-navigation hide">
                    <!-- Aux Navigation -->
                    <a href="#" class="navigation-show overlay-nav-show nav-icon">
                      <span class="icon-menu"></span>
                    </a>
                  </li>
                </ul>
              </nav>
              <nav class="navigation nav-block primary-navigation nav-right">
                <ul>
                  <li class="current">
                    <a href="index.html">Home</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="index.html">Home Default</a>
                      </li>
                      <li class="current">
                        <a href="index-with-parallax.html">Home with Parallax</a>
                      </li>
                      <li>
                        <a href="index-with-video.html">Home with Video</a>
                      </li>
                      <li>
                        <a href="index-with-blog-portfolio.html">Home with Blog &amp; Folio</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="about-style-one.html">About</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="about-style-one.html">About Regular</a>
                      </li>
                      <li>
                        <a href="about-style-two.html">About Style 2</a>
                      </li>
                      <li>
                        <a href="about-style-three.html">About Style 3</a>
                      </li>
                    </ul>
                  </li>
                  <li class="contains-mega-sub-menu">
                    <a href="portfolio-three-columns.html">Folio</a>
                    <ul class="mega-sub-menu">
                      <li>
                        <a href="portfolio-three-columns.html">3 Column Grids</a>
                        <ul>
                          <li>
                            <a href="portfolio-three-columns.html">3 Column Grid Default</a>
                          </li>
                          <li>
                            <a href="portfolio-three-columns-alternative.html">3 Column Grid Alt</a>
                          </li>
                          <li>
                            <a href="portfolio-three-columns-full-width.html">3 Column Grid Full Width</a>
                          </li>
                          <li>
                            <a href="portfolio-three-columns-full-width-no-margins.html">3 Column Grid Full Width No Margins</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="portfolio-four-columns-full-width-alternative.html">4 Column Grids</a>
                        <ul>
                          <li>
                            <a href="portfolio-four-columns-full-width-alternative.html">4 Column Grid Full Width Alt</a>
                          </li>
                          <li>
                            <a href="portfolio-four-columns-full-width-no-margins.html">4 Column Grid Full Width No Margins</a>
                          </li>
                          <li>
                            <a href="portfolio-masonry-grid.html">Full Width Masonry Grid</a>
                          </li>
                          <li>
                            <a href="portfolio-masonry-grid-no-margins.html">Full Width Masonry Grid No Margins</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="">About Portfolios</a>
                        <ul>
                          <li>
                            <p>The portfolios of Marquez showcases three and four column grids only, but they can easily be switched from two to six columns. Make any grid fixed width, full width, with small margins or no margin at all. All grid examples can be added to any of our demos.</p>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="blog.html">Blog</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="blog.html">3 Column Grid</a>
                      </li>
                      <li>
                        <a href="blog-four-columns-full-width.html">4 Column Full Width Grid</a>
                      </li>
                      <li>
                        <a href="blog-sidebar-right-with-media.html">Blog Index With Sidebar</a>
                      </li>
                      <li>
                        <a href="blog-wide-no-sidebar.html">Blog Without Sidebar</a>
                      </li>
                      <li>
                        <a href="blog/blog-single-post-sidebar-right.html">Single Post Sidebar Right</a>
                      </li>
                      <li>
                        <a href="blog/blog-single-post-sidebar-right-no-media.html">Single Post Without Media</a>
                      </li>
                      <li>
                        <a href="blog/blog-single-post-sidebar-right-with-media.html">Single Post With Media</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="contact-style-one.html">Contact</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="contact-style-one.html">Contact Regular</a>
                      </li>
                      <li>
                        <a href="contact-style-two.html">Contact Style 2</a>
                      </li>
                      <li>
                        <a href="contact-style-three.html">Contact Style 3</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="elements.html">More</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="elements.html">Elements</a>
                      </li>
                      <li>
                        <a href="404.html">400 Not Found</a>
                      </li>
                      <li>
                        <a href="500.html">500 Error</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <!-- Header End -->
