<!-- Header -->
<% navbar_class = "" if local_assigns[:navbar_class].nil? %>
<% logo_text_class = "color-white" if local_assigns[:logo_text_class].nil? %>

<header class="header header-fixed header-fixed-on-mobile header-transparent" data-bkg-threshold="100" data-compact-threshold="100">
  <div class="header-inner">
    <div class="row collapse full-width nav-bar reveal-side-navigation <%= navbar_class %>">
      <div class="column width-12 nav-bar-inner">
        <div class="logo-wrapper">
          <div class="logo-text">
            <a class="<%= logo_text_class %>" href="/">
              <span class="full-text">Research Action Design</span>
              <span class="short-text">RAD</span>
            </a>
          </div>
          <div class="logo">
            <div class="logo-inner">
              <a href="/"><img src="<%=asset_path('rad-logo.png')%>"></a>
            </div>
          </div>
        </div>
        <nav class="navigation nav-block secondary-navigation nav-right">
          <ul>
            <li class="aux-navigation hide">
              <!-- Aux Navigation -->
              <a href="#" class="navigation-show overlay-nav-show nav-icon">
                <span class="fas fa-bars"></span>
              </a>
            </li>
          </ul>
        </nav>
        <nav class="navigation nav-block primary-navigation nav-right">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/ourteam">Our Team</a>
            </li>
            <li>
              <a href="/projects">Projects</a>
            </li>
            <li>
              <a href="/partners">Partners</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- Header End -->

<!-- Back Top -->
<div class="scroll-to-top">
  <a href="#"><i class="fa fa-angle-double-up fa-3x" aria-hidden="true"></i></a>
</div>
<!-- Back Top End -->

<!-- class = current for highlighting the menu option -->
