<!-- Overlay Navigation Menu -->
<div class="overlay-navigation-wrapper" data-no-scrollbar data-animation="scale-in">
  <div class="overlay-navigation-scroll-pane">
    <div class="overlay-navigation-inner">
      <div class="v-align-middle">
        <div class="overlay-navigation-header row collapse full-width">
          <div class="column width-12">
            <div class="navigation-hide overlay-nav-hide">
              <a href="#">
                <span class="icon-cancel"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="row collapse full-width">
          <div class="column width-12">
            <nav class="overlay-navigation pull-left clear-float-on-mobile">
              <span class="menu-title">Pages</span>
              <ul>
                <li>
                  <a href="/" class="contains-sub-menu">Home</a>
                </li>
                <li>
                  <a href="/ourteam/" class="contains-sub-menu">Our Team</a>
                </li>
                <li>
                  <a href="/ourapproach/" class="contains-sub-menu">Our Approach</a>
                </li>
                <li>
                  <a href="/projects/" class="contains-sub-menu">Projects</a>
                </li>
                <li>
                  <a href="/partners/" class="contains-sub-menu">Partners</a>
                </li>
                <li>
                  <a href="/contact/" class="contains-sub-menu">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Overlay Navigation Menu End -->

<div class="wrapper reveal-side-navigation">
  <div class="wrapper-inner">

    <!-- Header -->
    <header class="header header-fixed header-fixed-on-mobile header-transparent" data-bkg-threshold="100" data-compact-threshold="100">
      <div class="header-inner">
        <div class="row collapse full-width nav-bar reveal-side-navigation">
          <div class="column width-12 nav-bar-inner">
            <div class="logo">
              <div class="logo-inner">
                <a href="/"><img src="<%=asset_path('rad-logo.png')%>"></a>
              </div>
            </div>
            <nav class="navigation nav-block secondary-navigation nav-right">
              <ul>
                <li class="aux-navigation hide">
                  <!-- Aux Navigation -->
                  <a href="#" class="navigation-show overlay-nav-show nav-icon">
                    <span class="icon-menu"></span>
                  </a>
                </li>
              </ul>
            </nav>
            <nav class="navigation navigation-2 nav-block primary-navigation nav-right">
              <ul>
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <a href="/ourteam/">Our Team</a>
                </li>
                <li>
                  <a href="/ourapproach/">Our Approach</a>
                </li>
                <li>
                  <a href="/projects/">Projects</a>
                </li>
                <li>
                  <a href="/partners/">Partners</a>
                </li>
                <li>
                  <a href="/contact/">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- Header End -->
<!--     navbar color on skin.scss -->

    <!-- Back Top -->
<div class="scroll-to-top">
  <a href="#"><i class="fa fa-angle-double-up fa-3x" aria-hidden="true"></i></a>
</div>
<!-- Back Top End -->

<!-- class = current for highlighting the menu option
-->
