<div class="overlay-navigation-wrapper enter-left" data-no-scrollbar="" data-animation="scale-in">
	<div class="overlay-navigation-scroll-pane">
		<div class="overlay-navigation-inner">
			<div class="v-align-middle">
				<div class="overlay-navigation-header">
					<div class="navigation-hide overlay-nav-hide">
						<a href="#">
              <span class="fas fa-times"></span>
						</a>
					</div>
				</div>
				<nav class="overlay-navigation">
          <ul class="overlay-navigation-links">
            <li>
              <a href="/" class="contains-sub-menu">Home</a>
            </li>
            <li>
              <a href="/ourteam" class="contains-sub-menu">Our Team</a>
            </li>
            <li>
              <a href="/projects" class="contains-sub-menu">Projects</a>
            </li>
            <li>
              <a href="/partners" class="contains-sub-menu">Partners</a>
            </li>
            <li>
              <a href="/contact" class="contains-sub-menu">Contact</a>
            </li>
          </ul>
				</nav>
				<div class="overlay-navigation-footer">
					...
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Overlay Navigation Menu End -->
