<%= render "navbar" %>


        <!-- Intro Title Section 1 -->
        <div class="section-block intro-title-1 bkg-pink color-white">
          <div class="row">
            <div class="column width-12">
              <div class="title-container">
                <div class="title-container-inner center">
                  <h1 class="title-xlarge horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;">
                    We're Digital Creatives
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Intro Title Section 1 End -->

        <!-- About Intro -->
        <div class="section-block">
          <div class="row">
            <div class="column width-8 offset-2 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
              <p class="lead text-xlarge weight-bold color-charcoal text-line-vertical">More than 900 projects for five hundred clients in less than three years of operation. We’d love to work on your project!</p>
            </div>
          </div>
        </div>
        <!-- About Intro End -->

        <!-- Hero Section 5 -->
        <section id="about" class="section-block window-height hero-5 hero-5-about-1 show-media-column-on-mobile bkg-charcoal color-white">
          <div class="media-column width-6"></div>
          <div class="row">
            <div class="column width-6 push-6">
              <div class="hero-content split-hero-content">
                <div class="hero-content-inner left-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.5">
                  <h2 class="mb-30">About The Studio</h2>
                  <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Hero Section 5 End -->

        <!-- Service Section -->
        <section class="section-block replicable-content">
          <div class="row">
            <div class="column width-4">
              <h2 class="weight-bold mb-30">Four Tailored <br>Services</h2>
            </div>
            <div class="column width-8">
              <div class="row flex">
                <div class="column width-6">
                  <div class="horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="1">
                    <h5 class="mb-30">Web Design</h5>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor.</p>
                  </div>
                </div>
                <div class="column width-6">
                  <div class="horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:200ms;" data-threshold="1">
                    <h5 class="mb-30">Identity Creation</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </div>
                <div class="column width-6">
                  <div class="horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:400ms;" data-threshold="1">
                    <h5 class="mb-30">Social Strategy</h5>
                    <p>Adipisicing elit, sed do eiusmod tempor incididun. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
                  </div>
                </div>
                <div class="column width-6">
                  <div class="horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:600ms;" data-threshold="1">
                    <h5 class="mb-30">Illustration</h5>
                    <p>Adipisicing elit, sed do eiusmod tempor incididun. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Service Section End -->

        <!-- Team Section Content -->
        <section class="section-block replicable-content no-padding-bottom bkg-charcoal color-white">
          <div class="row flex horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="1">
            <div class="column width-4">
              <h2 class="weight-bold mb-30">The Awesome <br>Creatives</h2>
            </div>
            <div class="column width-4">
              <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor.</p>
              <p>Adipisicing elit, sed do eiusmod tempor incididun. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
            </div>
            <div class="column width-4">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>
          </div>
        </section>
        <!-- Team Section Content End -->
