
  <!-- Intro Title Section 1 -->
  <div class="section-block intro-title-1 bkg-pink color-white">
    <div class="row">
      <div class="column width-12">
        <div class="title-container">
          <div class="title-container-inner center">
            <h1 class="title-xlarge horizon title-font" data-animate-in="preset:slideInRightShort;duration:1000ms;">
              Get in Touch
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Intro Title Section 1 End -->

  <!-- About Intro -->
  <div class="section-block">
    <div class="row">
      <div class="column width-8 offset-2 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <p class="lead weight-bold color-charcoal text-line-vertical lead-font contact-size">We'd love to hear from you. If you'd like to get involved in one of our projects, are interested in talking about doing something new and awesome together, or are interested in becoming a RAD cat, <a href="mailto:info@rad.cat">drop us a line</a> or fill the form below.</p>
      </div>
    </div>
  </div>
  <!-- About Intro End -->

  <!--Contact Form -->
  <section class="section-block replicable-content contact-2">
    <div class="row">
      <div class="column width-8 offset-2 center">
        <h2 class="mb-30">Say Hello</h2>

        <%= form_tag action: 'send_email', class: 'contact-form' do %>

          <%= text_field_tag class: 'form-email form-element large'%>
          <%= submit_tag('Send Email', :class => "form-submit button medium bkg-black bkg-hover-pink color-white color-hover-white") %>
        <% end %>
        <div class="contact-form-container">



          <!-- <form class="contact-form" action="php/send-email.php" method="post" novalidate>
            <div class="row">
              <div class="column width-6">
                <input type="text" name="fname" class="form-fname form-element large" placeholder="Name*" tabindex="1" required>
              </div>
              <div class="column width-6">
                <input type="email" name="email" class="form-email form-element large" placeholder="Email*" tabindex="3" required>
              </div>
            </div>
            <div class="row">
              <div class="column width-12 center">
                <textarea name="message" class="form-message form-element medium" placeholder="Message*" tabindex="5" required></textarea>
                <input type="submit" value="Send Email original" class="form-submit button medium bkg-black bkg-hover-pink color-white color-hover-white">
                <%= link_to 'Send Email', contact_form_email_path, method: :post, :class =>  "form-submit button medium bkg-black bkg-hover-pink color-white color-hover-white" %>
              </div>
            </div>
          </form> -->
          <div class="form-response center"></div>
        </div>
      </div>
    </div>
  </section>
  <!--Contact Form End -->

</div>
<!-- Content End -->
