  <!-- Intro Title Section 1 -->
  <div class="section-block intro-title-1 bkg-gradient-4">
    <div class="row">
      <div class="column width-12">
        <div class="title-container">
          <div class="title-container-inner center">
            <h1 class="title-xlarge horizon title-font color-white" data-animate-in="preset:slideInRightShort;duration:1000ms;">
              Fresh Panda<br>Security Squad
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Intro Title Section 1 End -->
