  <!-- Intro Title Section 1 -->
  <div class="section-block intro-title-1 bkg-gradient">
    <div class="row">
      <div class="column width-12">
        <div class="title-container">
          <div class="title-container-inner center">
            <h1 class="title-xlarge horizon title-font color-white" data-animate-in="preset:slideInRightShort;duration:1000ms;">
              Our Approach
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Intro Title Section 1 End -->

  <!-- Service Section -->
  <section class="section-block replicable-content bkg-grey color-charcoal">
    <div class="row">
      <div class="column width-4">
        <h2 class="weight-bold mb-30 new-font">COLLABORATIVE</h2>
      </div>
      <div class="column width-8">
        <div class="row flex">
          <div class="column width-8">
            <div class="horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="1">
              <p>We partner with small to large groups, in and outside of the U.S.,
                including grassroots organizations, nonprofits, networks, and foundations,
                to support community led change and movement building. We collaborate across a
                broad range of intersecting issues including health justice, low ­wage worker
                rights, immigrant rights, early care and education justice, racial justice, LGBTQ
              rights and the struggle against criminalization and mass incarceration.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="column width-4">
        <h2 class="weight-bold mb-30 new-font">PARTICIPATORY</h2>
      </div>
      <div class="column width-8">
        <div class="row flex">
          <div class="column width-8">
            <div class="horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="1">
              <p>Our approach is grounded in individuals, families, and directly impacted
                communities as the central actors in articulating problems and designing smart
                solutions for their communities. We work closely with our partners to ensure
                project design, tools, and materials are driven by and culturally appropriate
              for impacted communities.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="column width-4">
        <h2 class="weight-bold mb-30 new-font">MOVEMENT-CENTERED</h2>
      </div>
      <div class="column width-8">
        <div class="row flex">
          <div class="column width-8">
            <div class="horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="1">
              <p>Building the power of grassroots social movements is central to what we do.
               Partnering with organizers on the ground, we support mobilizing and activating
                communities to lead the system-changes and cultural transformations they
              envision for their own communities.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- Service Section End -->


    <!-- Call to Action Section 2 -->
  <div class="section-block call-to-action-2 bkg-red">
    <div class="row">
      <div class="column width-10 offset-1 center center-on-mobile">
        <div class="call-to-action-content">
          <div class="call-to-action-content-inner">
            <div class="horizon" data-animate-in="preset:slideInRightLong;duration:1000ms;">
              <a href="/contact/" class="button medium bkg-white color-hover-white">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Call to Action Section 2 End -->

