  <!-- Intro Title Section 1 -->
  <div class="content clearfix">
      <div class="tm-slider-container full-width-slider" data-parallax data-external-padding="60" data-animation="slide" data-scale-under="1140" >
        <ul class="tms-slides">
          <li class="tms-slide" data-image data-force-fit>
            <div class="tms-content">
              <div class="tms-content-inner center">
                <div class="row">
                  <div class="column width-12">
                    <h1 class="tms-caption title-xlarge upcase color-white lspacing-xlarge horizon"
                      data-animate-in="preset:scaleOut;duration:1000ms;">
                      Anti-Displacement<br>Project Boston
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          <img data-src="<%=asset_path('project26.jpg')%>" data-retina alt=""/>
        </li>
      </ul>
    </div>
  </div>
  <!-- Intro Title Section 1 End -->

  <!-- Intro Section -->
  <section id="brief" class="section-block">
    <div class="row">
      <div class="column width-6 offset-3 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <h2 class="mb-30">With MIT Co-Lab</h2>
        <p class="lead left project-lead">MIT Co-Lab and Research Action Design (RAD), in partnership with
        <a href="http://www.greenrootschelsea.org/" target="_blank">GreenRoots</a>, <a href="http://www.clvu.org/" target="_blank">CityLife</a>, and <a href="https://www.challiance.org/community/everett-health-partnership" target="_blank">Everett Community Health Partnership</a> are bringing together planning and
        design disciplines to create a suite of aesthetic tools to support community organizing and advocacy
        efforts around displacement and gentrification in the Greater Boston region.</p>
        <ul class="social-list list-horizontal text-line-vertical-dark">
        </ul>
      </div>
    </div>
  </section>
  <!-- Intro Section End -->

  <!-- Identity Section -->
  <section class="section-block replicable-content">
    <div class="row">
      <div class="column width-8 offset-2 horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <p>Through this partnership we seek to create, build, and share a multi-media toolkit. This toolkit will be
        the outcome of a collaborative design process rooted in the work of the partner organizations.
        This is a co-design/participatory project which will aim to achieve the following goals:</p>
        <p>1. Deepen local collaborations with values-aligned partners seeking to advocate for social change around these issues</p>
        <p>2. Engage and train emerging planning practitioners at MIT in creative, participatory methods for community research and action, and leverage student expertise to support the work of partners on the ground</p>
        <p>3. Co-create an array of popular education tools, usable by community partners, to share critical research findings with broader audiences, magnify community values and voice, educate and engage others in shared struggles, and inspire action to impact current gentrification and displacement trends</p>
        <p>4. Develop, disseminate and scale up new knowledge about aesthetic inquiry as a means of addressing social injustice in ways that can’t adequately be measured using traditional social science methods.</p>
        <p>This project is funded by the Surdna Foundation.</p>
      </div>
    </div>
  </section>
  <!-- Identity Section End -->

  <!-- Pagination Section 3 -->
  <div class="section-block pagination-3 float">
    <div class="row">
      <div class="column width-12">
        <ul>
          <li><a class="pagination-previous" href="/projects/oral-health"><i class="fa fa-angle-left icon-left-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
          <li><a class="pagination-next" href="/projects/anti-displacement"><i class="fa fa-angle-right icon-right-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Pagination Section 3 End -->
