  <!-- Intro Title Section 1 -->
  <div class="content clearfix">
      <div class="tm-slider-container full-width-slider" data-parallax data-external-padding="60" data-animation="slide" data-scale-under="1140" >
        <ul class="tms-slides">
          <li class="tms-slide" data-image data-force-fit>
            <div class="tms-content">
              <div class="tms-content-inner center">
                <div class="row">
                  <div class="column width-12">
                    <h1 class="tms-caption title-xlarge upcase color-white lspacing-large horizon"
                      data-animate-in="preset:scaleOut;duration:1000ms;">
                      Contratados
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          <img data-src="<%=asset_path('project13.png')%>" data-retina alt=""/>
        </li>
      </ul>
    </div>
  </div>
  <!-- Intro Title Section 1 End -->


<!-- fix -->
  <!-- Intro Section -->
  <section id="brief" class="section-block">
    <div class="row">
      <div class="column width-6 offset-3 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <h2 class="mb-30">Project Brief</h2>
        <p class="lead left project-lead">An art, tech, and social justice initiative that seeks to inform thousands of H-2A and H-2B Mexican-born migrant workers about their rights.</p>
        <ul class="social-list list-horizontal text-line-vertical-dark">
        </ul>
      </div>
    </div>
  </section>
  <!-- Intro Section End -->

  <!-- Identity Section -->
  <section class="section-block replicable-content">
    <div class="row">
      <div class="column width-8 offset-2 horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <p><a href="http://contratados.org/" target="_blank">Contratados</a> is an art, tech, and social justice initiative that seeks to inform thousands of H-2A and H-2B Mexican-born migrant workers about their rights. Led by Centro de los Derechos del Migrante, Inc., with support from RAD and Studio REV-, the initiative consists of on-the-ground advocacy, a powerful, interactive website that involves workers in mapping the recruitment industry to identify fraudulent or reputable worksites, a series of punchy and artfully designed pocket-sized comics and audio novelas (accessible by radio and any kind of phone), and a series of radio shows broadcast on the Radio Bilingue network. The project’s name refers to the process of being contracted — or “contratado” in Spanish — by a U.S. employer to work in agriculture, construction, harvesting crab, seasonal fairs, or other low-paying work that US-born workers typically reject.</p>
        <div class="thumbnail center">
          <img src="<%=asset_path('contratados.png')%>" alt="">
        </div>
        <p>By identifying migrant labor recruiters, employers, and their networks and by assessing the trends in their interactions and practices, Contratados is generating previously unavailable information about pre-employment and post-employment conditions of migrant workers. Using this data, CDM, migrant workers, and cross-sector allies are addressing major, systemic abuses in guestworker recruitment through outreach and education, strategic litigation, and policy advocacy. For more information about CDM’s Justice in Recruitment project, see more info at <a href="http://www.cdmigrante.org/cdms-work/special-initiatives/justice-in-recruitment-project/#sthash.llQoq2tP.dpuf" target="_blank">www.cdmigrante.org</a>. You can also check out the <a href="http://contratados.org/" target="_blank">Contratados site</a>.</p>
      </div>
    </div>
  </section>
  <!-- Identity Section End -->

  <!-- Video Section -->
  <div class="section-block replicable-content no-padding">
    <div class="row collapse ">
      <div class="column width-12">
        <div class="video-container no-margin-bottom">
          <iframe width="700" height="396" src="https://www.youtube.com/embed/HFA__pKt0sI" frameborder="0" gesture="media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <!-- Video Section End -->



  <!-- Pagination Section 3 -->
  <div class="section-block pagination-3 float">
    <div class="row">
      <div class="column width-12">
        <ul>
          <li><a class="pagination-previous" href="/projects/vojo-brasil"><i class="fa fa-angle-left icon-left-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
          <li><a class="pagination-next" href="/projects/transformative-media-organizing"><i class="fa fa-angle-right icon-right-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Pagination Section 3 End -->
