  <!-- Intro Title Section 1 -->
  <div class="section-block intro-title-1 bkg-gradient">
    <div class="row">
      <div class="column width-12">
        <div class="title-container">
          <div class="title-container-inner center">
            <h1 class="title-xlarge horizon title-font color-white" data-animate-in="preset:slideInRightShort;duration:1000ms;">
              Digital Privacy<br>& Data Literacy
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Intro Title Section 1 End -->


<!-- fix -->
  <!-- Intro Section -->
  <section id="brief" class="section-block">
    <div class="row">
      <div class="column width-6 offset-3 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <h2 class="mb-30">Project Brief</h2>
        <p class="lead left project-lead">Promote digital privacy and data literacy among library professionals.</p>
        <ul class="social-list list-horizontal text-line-vertical-dark">
        </ul>
      </div>
    </div>
  </section>
  <!-- Intro Section End -->

  <!-- Identity Section -->
  <section class="section-block replicable-content">
    <div class="row">
      <div class="column width-8 offset-2 horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <p><a href="http://www.bklynlibrary.org/" target="_blank">Brooklyn Public Library (BPL)</a>, with the <a href="http://metro.org/" target="_blank">Metropolitan New York Library Council (METRO)</a>, <a href="https://www.newamerica.org/oti/" target="_blank">New America Foundation’s Open Technology Institute (OTI)</a>, the <a href="http://www.datasociety.net/" target="_blank">Data & Society Research Institute (D&S)</a>, and Research Action Design (RAD) are collaborating on a 2 year project to promote digital privacy and data literacy among library professionals. This collaboration brings together librarians, policy advocates, technologists, and the communities they all serve to further advance libraries and librarians as leaders in bridging not just the digital divide but also the privacy digital divide.</p>
        <p>Research Action Design is facilitating workshops and codesigning curriculum in the Brooklyn Public Library and Metropolitan New York Library Council (METRO) locations to support library professionals. This project builds on prior research of BPL and New America, during which librarians and library staff shared concerns, challenges, and questions about digital privacy and security. Our goal, in these workshops, is to develop more shared understanding of these topics by answering common questions and sharing practical information and actions library staff can use personally and with patrons.</p>
        <p>To learn more about this project and use web and downloadable resources visit: <a href="http://www.dataprivacyproject.org" target="_blank">http://www.dataprivacyproject.org</a></p>
      </div>
    </div>
  </section>
  <!-- Identity Section End -->

  <!-- Pagination Section 3 -->
  <div class="section-block pagination-3 float">
    <div class="row">
      <div class="column width-12">
        <ul>
          <li><a class="pagination-previous" href="/projects/who-pays"><i class="fa fa-angle-left icon-left-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
          <li><a class="pagination-next" href="/projects/media-history-timeline"><i class="fa fa-angle-right icon-right-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Pagination Section 3 End -->
