  <!-- Intro Title Section 1 -->
  <div class="content clearfix">
      <div class="tm-slider-container full-width-slider" data-parallax data-external-padding="60" data-animation="slide" data-scale-under="1140" >
        <ul class="tms-slides">
          <li class="tms-slide" data-image data-force-fit>
            <div class="tms-content">
              <div class="tms-content-inner center">
                <div class="row">
                  <div class="column width-12">
                    <h1 class="tms-caption title-xlarge upcase color-white lspacing-large horizon"
                      data-animate-in="preset:scaleOut;duration:1000ms;">
                      The FTX: Safety Reboot
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          <img data-src="<%=asset_path('project2.jpg')%>" data-retina alt=""/>
        </li>
      </ul>
    </div>
  </div>
  <!-- Intro Title Section 1 End -->

  <!-- Intro Section -->
  <section id="brief" class="section-block">
    <div class="row">
      <div class="column width-6 offset-3 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <h2 class="mb-30">Project Brief</h2>
        <p class="lead left project-lead">A resource for trainers who work with activists to use the internet safely, creatively and strategically</p>
        <ul class="social-list list-horizontal text-line-vertical-dark">
        </ul>
      </div>
    </div>
  </section>
  <!-- Intro Section End -->

  <!-- Identity Section -->
  <section class="section-block replicable-content">
    <div class="row">
      <div class="column width-8 offset-2 horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <p>The Association for Progressive Communications Women’s Rights Program (APC WRP) has produced a Beta version of a curriculum for trainers on digital safety for women’s rights and sexual rights activists, rooted in a feminist response to a specificity of needs and threats faced by these communities.</p>
        <p>The FTX: Safety Reboot is a practical and enabling resource for trainers who work with activists to use the internet safely, creatively and strategically. It is a feminist contribution to the global response to digital security capacity building, bringing the APC Women’s Rights Program’s unique methodology and approach, which we call Feminist Tech eXchanges (FTX).</p>
        <p>The FTX Safety Reboot Beta version was produced during a collaborative writing workshop with partners, including Cheekay Cinco, Valentina Pellizzer, Helen Nyinakiiza and Bex Hurwitz. Writing continues and will be complete for use in trainings in March 2017.</p>
        <p>The curriculum aims to enable trainers to build awareness within communities of how to respond to online violence against women (VAW) and build confidence and skills to be safe and effective in online spaces. The FTX: Safety Reboot explores how we occupy online spaces, how women are represented, how we can counter discourses and norms that contribute to discrimination and violence. It is about strategies of representation and expression and enabling more women’s rights and sexual rights activists to engage technology with pleasure, creativity and curiosity.</p>
      </div>
    </div>
  </section>
  <!-- Identity Section End -->

  <!-- Content Section -->
  <div class="section-block replicable-content bkg-charcoal color-white">
    <div class="row">
      <div class="column width-10 horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.5">
        <p class="lead">The curriculum contains the following 10 independent modules, all with a common format, rooted in interactive learning activities and a user-centered design:</p>
      </div>
      <div class="column width-12 offset-1 left horizon">
        <ul>
          <li><h5 class="color-white">Feminist practices of technology</h5></h5></li>
          <li><h5 class="color-white">Movement building: Feminist movements and the internet</h5></li>
          <li><h5 class="color-white">Minimizing surveillance</h5></li>
          <li><h5 class="color-white">Where is consent and privacy in the conversation?</h5></li>
          <li><h5 class="color-white">Mobiles</h5></li>
          <li><h5 class="color-white">Put it on vibrate: Sexting as sexual expression</h5></li>
          <li><h5 class="color-white">What is online violence against women?</h5></li>
          <li><h5 class="color-white">Expression : Harassment, hate speech, the trolls, and feminist responses</h5></li>
          <li><h5 class="color-white">Internet policy and women’s rights</h5></li>
          <li><h5 class="color-white">Creating safe spaces online</h5></li>
        </ul>
      </div>
      </div>
  </div>
  <!-- Content Section End -->

  <section class="section-block replicable-content">
    <div class="row">
      <div class="column width-8 offset-2 horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <div class="thumbnail center">
          <img src="<%=asset_path('apc-logo.png')%>" alt="">
        </div>
      </div>
    </div>
  </section>

  <!-- Pagination Section 3 -->
  <div class="section-block pagination-3 float">
    <div class="row">
      <div class="column width-12">
        <ul>
          <li><a class="pagination-previous" href="/projects/technology-for-social-good-research"><i class="fa fa-angle-left icon-left-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
          <li><a class="pagination-next" href="/projects/worker-fatality-database"><i class="fa fa-angle-right icon-right-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Pagination Section 3 End -->
