  <!-- Intro Title Section 1 -->
  <div class="section-block intro-title-1 bkg-gradient">
    <div class="row">
      <div class="column width-12">
        <div class="title-container">
          <div class="title-container-inner center">
            <h1 class="title-xlarge horizon title-font color-white" data-animate-in="preset:slideInRightShort;duration:1000ms;">
              Hanging by a Thread!
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Intro Title Section 1 End -->

  <!-- Intro Section -->
  <section id="brief" class="section-block">
    <div class="row">
      <div class="column width-6 offset-3 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <h2 class="mb-30">Project Brief</h2>
        <p class="lead left project-lead">A report that uncovers the multiple barriers garment workers face when attempting to access quality child care.</p>
        <ul class="social-list list-horizontal text-line-vertical-dark">
        </ul>
      </div>
    </div>
  </section>
  <!-- Intro Section End -->

  <!-- Identity Section -->
  <section class="section-block replicable-content">
    <div class="row">
      <div class="column width-8 offset-2 horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <p>Garment Workers in Los Angeles experience high levels of wage theft and struggle to secure child care for their families and meet other basic needs. A study by the <a href="http://garmentworkercenter.org/" target="_blank">Garment Worker Center</a>, the <a href="http://www.labor.ucla.edu/" target="_blank">UCLA Labor Center</a>, and Research Action Design uncovers the multiple barriers garment workers face when attempting to access quality child care. The report, Hanging by a Thread! Los Angeles Garment Workers’ Struggle to Access Quality Care for their Children documents this newest survey of garment workers in LA’s Fashion District and shows the hidden costs of low-wage and exploitative working conditions in the garment district on entire families. Garment worker mothers demand high quality, culturally relevant, affordable care for their children where they work and live. The garment industry is one of the largest manufacturing employers in Los Angeles, employing over 45,000 workers. Most of these workers are Latina immigrant mothers whose constant struggle to access and pay for child care leaves them hanging by a thread.</p>
        <p>Most garment workers spend about one-third of their average weekly income of $305.36 on child care costs. The low wages of garment workers are further eroded by the high rates of wage theft plaguing the garment industry. As a result, some surveyed workers are unable to monetarily pay their child care providers and instead compensate them by paying their utility bills, buying groceries or by engaging in other informal exchanges. Furthermore, the vast majority of garment workers do not receive any form of assistance with their child care needs; almost all surveyed garment workers reported they were unaware of publicly funded child care programs or believed they were ineligible to access these programs. As a result only 4% of garment workers are accessing free or low cost preschool or Head Start programs.</p>
        <p>The study also shows how low-wage working mothers often face lost wages or dismissal, when their informal care arrangements fall through. The report concludes with recommendations to improve access to child care for low-wage workers, including improved labor and wage standards and increased access to high quality child care.</p>
        <p>The report is a collaboration of the <a href="http://garmentworkercenter.org/" target="_blank">Garment Worker Center</a>, <a href="http://www.labor.ucla.edu/" target="_blank">UCLA Labor Center</a> and Research Action Design, generously funded by the Ms. Foundation for Women.</p>
        <p>Download the full report <a href="http://garmentworkercenter.org/report-hanging-by-a-thread/" target="_blank">here</a>.</p>
      </div>
    </div>
  </section>
  <!-- Identity Section End -->

  <!-- Pagination Section 3 -->
  <div class="section-block pagination-3 float">
    <div class="row">
      <div class="column width-12">
        <ul>
          <li><a class="pagination-previous" href="#"><i class="fa fa-angle-left icon-left-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
          <li><a class="pagination-next" href="#"><i class="fa fa-angle-right icon-right-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Pagination Section 3 End -->
