  <!-- Intro Title Section 1 -->
  <div class="content clearfix">
      <div class="tm-slider-container full-width-slider" data-parallax data-external-padding="60" data-animation="slide" data-scale-under="1140" >
        <ul class="tms-slides">
          <li class="tms-slide" data-image data-force-fit>
            <div class="tms-content">
              <div class="tms-content-inner center">
                <div class="row">
                  <div class="column width-12">
                    <h1 class="tms-caption title-xlarge upcase color-red lspacing-xlarge horizon"
                      data-animate-in="preset:scaleOut;duration:1000ms;">
                      Kaiser Permanente
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          <img data-src="<%=asset_path('project18.jpg')%>" data-retina alt=""/>
        </li>
      </ul>
    </div>
  </div>
  <!-- Intro Title Section 1 End -->

  <!-- Intro Section -->
  <section id="brief" class="section-block">
    <div class="row">
      <div class="column width-6 offset-3 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <h2 class="mb-30">Kaiser Permanente <br>Community Health Needs Assessment</h2>
        <p class="lead left project-lead">Enhancing research methods, from data collection and interpretation, community engagement, to identification of prioritized needs.</p>
        <ul class="social-list list-horizontal text-line-vertical-dark">
        </ul>
      </div>
    </div>
  </section>
  <!-- Intro Section End -->

  <!-- Identity Section -->
  <section class="section-block replicable-content">
    <div class="row">
      <div class="column width-8 offset-2 horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <p>RAD served as lead consultant for strategic support on the implementation of Southern California, Community Benefits Community Health Needs Assessments, required under the Affordable Care Act, for the 14 medical centers in the Southern California region.</p>
        <p>RAD developed materials and tools to enhance research methods, from data collection and interpretation, community engagement, to identification of prioritized needs, among the CHNA medical center consultants. Direct 1:1 technical assistance and trainings were conducted for medical center consultant teams on implementation of requirements, guidelines, research methods, and writing of the final CHNA report.</p>
        <p>The CHNA reports inform the selection of health needs and development of implementation strategies each medical center will address through their community benefit work.</p>

      </div>
    </div>
  </section>
  <!-- Identity Section End -->

  <!-- Pagination Section 3 -->
  <div class="section-block pagination-3 float">
    <div class="row">
      <div class="column width-12">
        <ul>
          <li><a class="pagination-previous" href="/projects/essie-women.html"><i class="fa fa-angle-left icon-left-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
          <li><a class="pagination-next" href="/projects/stronger-communities.html"><i class="fa fa-angle-right icon-right-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Pagination Section 3 End -->
