  <!-- Intro Title Section 1 -->
  <div class="content clearfix">
      <div class="tm-slider-container full-width-slider" data-parallax data-external-padding="60" data-animation="slide" data-scale-under="1140" >
        <ul class="tms-slides">
          <li class="tms-slide" data-image data-force-fit>
            <div class="tms-content">
              <div class="tms-content-inner center">
                <div class="row">
                  <div class="column width-12">
                    <h1 class="tms-caption title-xlarge upcase color-white lspacing-xlarge horizon"
                      data-animate-in="preset:scaleOut;duration:1000ms;">
                      Media History Timeline
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          <img data-src="<%=asset_path('project11.jpg')%>" data-retina alt=""/>
        </li>
      </ul>
    </div>
  </div>
  <!-- Intro Title Section 1 End -->

  <!-- Intro Section -->
  <section id="brief" class="section-block">
    <div class="row">
      <div class="column width-6 offset-3 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <h2 class="mb-30">Project Brief</h2>
        <p class="lead left project-lead">An interactive timeline that links our personal histories with larger histories of social struggle and popular movements for justice, and explores the role of media in these histories.</p>
        <ul class="social-list list-horizontal text-line-vertical-dark">
        </ul>
      </div>
    </div>
  </section>
  <!-- Intro Section End -->

  <!-- Identity Section -->
  <section class="section-block replicable-content">
    <div class="row">
      <div class="column width-8 offset-2 horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <p>The Media History Timeline (MHT) is an interactive timeline that links our personal histories with larger histories of social struggle and popular movements for justice, and explores the role of media in these histories. Explore Global Action Project’s interactive history of Policing timeline, below:</p>
        <p>The MHT is also a workshop curriculum that educators and organizers can use to create a timeline with those they are working with. The final version will be a space where the user is not only given the opportunity to share individual experiences in an historical context, but can also build community for justice, education, healing, and empowerment. Youth want the user/audience to add their personal experiences with the police, in schools, and with media in order to connect young people to organizing happening on the ground.</p>
        <p>The MHT has been developed from <a href="http://global-action.org/" target="_blank">Global Action Project</a>’s unique political education, media production and youth development curriculum. GAP youth explored interaction design and new media software to develop this online resource for organizers and educators that explores the relationships between media, social justice, public policy, and popular culture. Youth learned the basics of web development, group decision-making, app development and planning, media literacy, research planning and implementation, and developing data systems. The group is developing a prototype web-based interactive timeline to be shared widely in the program’s third year.</p>
        <div class="thumbnail center">
          <img src="<%=asset_path('media-history.png')%>" alt="">
        </div>
        <p><i>Research Action Design, Global Action Project and Project South cofacilitating a Media/Movement History Timeline workshop at Allied Media Conference 2015, Detroit.</i></p>
      </div>
    </div>
  </section>
  <!-- Identity Section End -->

  <!-- Pagination Section 3 -->
  <div class="section-block pagination-3 float">
    <div class="row">
      <div class="column width-12">
        <ul>
          <li><a class="pagination-previous" href="/projects/digital-privacy-data-literacy.html"><i class="fa fa-angle-left icon-left-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
          <li><a class="pagination-next" href="/projects/fundraising-and-movement-building-research.html"><i class="fa fa-angle-right icon-right-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Pagination Section 3 End -->
