  <!-- Intro Title Section 1 -->
  <div class="section-block intro-title-1 bkg-gradient">
    <div class="row">
      <div class="column width-12">
        <div class="title-container">
          <div class="title-container-inner center">
            <h1 class="title-xlarge horizon title-font color-white" data-animate-in="preset:slideInRightShort;duration:1000ms;">
              Media In Action
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Intro Title Section 1 End -->

  <!-- Intro Section -->
  <section id="brief" class="section-block">
    <div class="row">
      <div class="column width-6 offset-3 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <h2 class="mb-30">Project Brief</h2>
        <p class="lead left project-lead">In July 2014 the Astraea Lesbian Foundation for Justice launched the first-ever Media, Communications and Technology Lab (CommsLabs) in Bogotá, Colombia as part of the LGBT Global Development Partnership with USAID.</p>
        <ul class="social-list list-horizontal text-line-vertical-dark">
        </ul>
      </div>
    </div>
  </section>
  <!-- Intro Section End -->

  <!-- Identity Section -->
  <section class="section-block replicable-content">
    <div class="row">
      <div class="column width-8 offset-2 horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <p>The Astraea Lesbian Foundation for Justice: Fueling A Global Movement for LGBTI People. The Astraea Lesbian Foundation for Justice is a leader in social justice grantmaking for LGBTI people. Founded in 1977, Astraea is the only foundation in the world solely dedicated to supporting lesbian, gay, bisexual, transgender, queer, and intersex (LGBTI) organizations in the U.S. and internationally, and has granted more than $18 million in 2,900 grants to 1,118 organizations in 82 countries.</p>
        <p>In July 2014 the Astraea Lesbian Foundation for Justice launched the first-ever Media, Communications and Technology Lab (CommsLabs) in Bogotá, Colombia as part of the LGBT Global Development Partnership with USAID. Gathering together more than 35 activists from Latin America with 12 technologists and communications practitioners from around the world, the group worked together to create new media strategies and digital advocacy tools specifically designed to meet the needs of LGBT human rights defenders.</p>
        <p>RAD has worked with Astraea, Astraea grantee partners and network to collaboratively design and implement CommsLabs in Kenya (2015) and South Africa (2016). Each 5-day event brought together together 35 activists from a diversity of organizations in Kenya and South Africa and 15 trainers to support participants in movement building and applied-skill sharing in Communications Strategy, Media Making, Healing Justice, Web Making, and Holistic Security.</p>
        <div class="thumbnail center">
          <img src="<%=asset_path('project10.png')%>" alt="">
        </div>
      </div>
    </div>
  </section>
  <!-- Identity Section End -->

  <!-- Pagination Section 3 -->
  <div class="section-block pagination-3 float">
    <div class="row">
      <div class="column width-12">
        <ul>
          <li><a class="pagination-previous" href="/projects/media-history-timeline"><i class="fa fa-angle-left icon-left-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
          <li><a class="pagination-next" href="/projects/out-for-change"><i class="fa fa-angle-right icon-right-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Pagination Section 3 End -->
