  <!-- Intro Title Section 1 -->
  <div class="content clearfix">
      <div class="tm-slider-container full-width-slider" data-parallax data-external-padding="60" data-animation="slide" data-scale-under="1140" >
        <ul class="tms-slides">
          <li class="tms-slide" data-image data-force-fit>
            <div class="tms-content">
              <div class="tms-content-inner center">
                <div class="row">
                  <div class="column width-12">
                    <h1 class="tms-caption title-xlarge upcase color-white lspacing-xlarge horizon"
                      data-animate-in="preset:scaleOut;duration:1000ms;">
                      Advancing <br>Mental Health Equity
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          <img data-src="<%=asset_path('project22.jpg')%>" data-retina alt=""/>
        </li>
      </ul>
    </div>
  </div>
  <!-- Intro Title Section 1 End -->

  <!-- Intro Section -->
  <section id="brief" class="section-block">
    <div class="row">
      <div class="column width-6 offset-3 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <h2 class="mb-30">Project Brief</h2>
        <p class="lead left project-lead">Mental health and well-being is a core component of overall health. This California report examines the structural inequalities communities of color face and policy recommendations to improve mental health and substance use outcomes.</p>
        <ul class="social-list list-horizontal text-line-vertical-dark">
        </ul>
      </div>
    </div>
  </section>
  <!-- Intro Section End -->

  <!-- Identity Section -->
  <section class="section-block replicable-content">
    <div class="row">
      <div class="column width-8 offset-2 horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <p>Today, policies, programs, and practice interventions for mental health and substance use largely focus on biological and behavioral factors, often neglecting the conditions and circumstances in which we grow, live, work, and age. Research Action Design collaborated with California Pan-Ethnic Health Network on a policy research project to outline the structural and systemic factors impacting mental health and substance use, and to present policy recommendations to begin improving mental health and substance use outcomes for all Californians.</p>
        <p>The policy brief, <a href="https://cpehn.org/resource/mind-body-spirit-advancing-mental-health-and-substance-use-equity" target="_blank">Mind, Body, Soul. Advancing Mental Health and Substance Use Equity</a> examines structural inequalities that influence mental health and substance use and presents policy recommendations that improve not only mental health and substance use outcomes, but overall health and well-being for all Californians.</p>
        <div class="thumbnail center">
          <img src="<%=asset_path('mental-health.png')%>" alt="">
        </div>
      </div>
    </div>
  </section>
  <!-- Identity Section End -->

  <!-- Pagination Section 3 -->
  <div class="section-block pagination-3 float">
    <div class="row">
      <div class="column width-12">
        <ul>
          <li><a class="pagination-previous" href="/projects/health-equity.html"><i class="fa fa-angle-left icon-left-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
          <li><a class="pagination-next" href="/projects/essie-women.html"><i class="fa fa-angle-right icon-right-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Pagination Section 3 End -->
