  <!-- Intro Title Section 1 -->
  <div class="content clearfix">
      <div class="tm-slider-container full-width-slider" data-parallax data-external-padding="60" data-animation="slide" data-scale-under="1140" >
        <ul class="tms-slides">
          <li class="tms-slide" data-image data-force-fit>
            <div class="tms-content">
              <div class="tms-content-inner center">
                <div class="row">
                  <div class="column width-12">
                    <h1 class="tms-caption title-xlarge upcase color-white lspacing-xlarge horizon"
                      data-animate-in="preset:scaleOut;duration:1000ms;">
                      Oral Health Care
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          <img data-src="<%=asset_path('project25.jpg')%>" data-retina alt=""/>
        </li>
      </ul>
    </div>
  </div>
  <!-- Intro Title Section 1 End -->

  <!-- Intro Section -->
  <section id="brief" class="section-block">
    <div class="row">
      <div class="column width-6 offset-3 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <h2 class="mb-30">Oral Health Care for Low-income Adults and Seniors</h2>
        <p class="lead left project-lead">A policy scan aimed at capturing the current oral
        health care policy landscape and actions needed to improve oral health care for
        low-income adults and seniors.<br> The  needs and potential policy opportunities,
        strategies, and solutions identified from the field will inform the <a href="http://www.calwellness.org" target="_blank">California Wellness Foundation</a> (Cal Wellness) investment strategy to support oral health care public policy efforts in California.</p>
        <ul class="social-list list-horizontal text-line-vertical-dark">
        </ul>
      </div>
    </div>
  </section>
  <!-- Intro Section End -->

  <!-- Identity Section -->
  <section class="section-block replicable-content">
    <div class="row">
      <div class="column width-8 offset-2 horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <p>The California Wellness Foundation (Cal Wellness) is one of the few foundations funding efforts
        to address inequities in oral health care for low-income adults and seniors (Medi-cal/Medicare).
        The Foundation’s funding strategy to date has included: <br>(1) Expanding access to oral health services
        by investing in direct services, including access in FQHC’s; <br>(2) Supporting policy/advocacy infrastructure
        through coalition building with both traditional and nontraditional stakeholders to increase voices for oral
        health in the field, especially for communities of color, groups with equity lens; <br>(3) Knowledge building,
        data gathering to identify policy issues and needs to address gaps and equity in oral health care; <br>and (4)
        Leveraging local, state, and national opportunities by partnering with other funders and organizations to
        advance equity in oral health care. </p>
        <p>Now that the oral health care program has invested and established a strong foundation in the field,
        Cal Wellness is seeking to identify opportunities and strategies for the Foundation to move to the the
        next step in support of oral health care public policy efforts.</p>
        <p>The project is funded by a contract from The California Wellness Foundation. Cal Wellness’ mission is
        to protect and improve the health and wellness of the people of California by increasing access to
        health care, quality equation, good jobs, healthy environments and safe neighborhoods.</p>
      </div>
    </div>
  </section>
  <!-- Identity Section End -->

  <!-- Pagination Section 3 -->
  <div class="section-block pagination-3 float">
    <div class="row">
      <div class="column width-12">
        <ul>
          <li><a class="pagination-previous" href="/projects/shuttleworth"><i class="fa fa-angle-left icon-left-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
          <li><a class="pagination-next" href="/projects/anti-displacement"><i class="fa fa-angle-right icon-right-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Pagination Section 3 End -->
