  <!-- Intro Title Section 1 -->
  <div class="content clearfix">
      <div class="tm-slider-container full-width-slider" data-parallax data-external-padding="60" data-animation="slide" data-scale-under="1140" >
        <ul class="tms-slides">
          <li class="tms-slide" data-image data-force-fit>
            <div class="tms-content">
              <div class="tms-content-inner center">
                <div class="row">
                  <div class="column width-12">
                    <h1 class="tms-caption title-xlarge upcase color-white lspacing-xlarge horizon"
                      data-animate-in="preset:scaleOut;duration:1000ms;">
                      OCTOP
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          <img data-src="<%=asset_path('octop.jpg')%>" data-retina alt=""/>
        </li>
      </ul>
    </div>
  </div>
  <!-- Intro Title Section 1 End -->

  <!-- Intro Section -->
  <section id="brief" class="section-block">
    <div class="row">
      <div class="column width-6 offset-3 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <h2 class="mb-30">Out for Change <br>Transformative Media Organizing Project</h2>
        <p class="lead left project-lead">Linking LGBTQ, Two-Spirit, and allied media makers, online organizers, and tech-activists.</p>
        <ul class="social-list list-horizontal text-line-vertical-dark">
        </ul>
      </div>
    </div>
  </section>
  <!-- Intro Section End -->

  <!-- Identity Section -->
  <section class="section-block replicable-content">
    <div class="row">
      <div class="column width-8 offset-2 horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <p>The Out for Change Transformative Media Organizing Project (OCTOP) links LGBTQ, Two-Spirit, and allied media makers, online organizers, and tech-activists across the United States. In 2013-2014, we conducted a strengths/needs assessment of the media & organizing capacity of the movement, and offered a series of workshops and skillshares around transmedia organizing. The project is guided by a core group of project partners and advisers who work with LGBTQ and Two-Spirit folks. The project is supported by faculty and staff at the <a href="http://civic.mit.edu/" target="_blank">MIT Center for Civic Media</a>, Research Action Design and by the <a href="http://fordfound.org/" target="_blank">Ford Foundation</a>’s Advancing LGBT Rights Initiative.</p>
      </div>
    </div>
  </section>
  <!-- Identity Section End -->

  <!-- Pagination Section 3 -->
  <div class="section-block pagination-3 float">
    <div class="row">
      <div class="column width-12">
        <ul>
          <li><a class="pagination-previous" href="/projects/transformative-media-organizing.html"><i class="fa fa-angle-left icon-left-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
          <li><a class="pagination-next" href="/projects/media-in-action.html"><i class="fa fa-angle-right icon-right-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Pagination Section 3 End -->
