  <!-- Intro Title Section 1 -->
  <div class="content clearfix">
      <div class="tm-slider-container full-width-slider" data-parallax data-external-padding="60" data-animation="slide" data-scale-under="1140" >
        <ul class="tms-slides">
          <li class="tms-slide" data-image data-force-fit>
            <div class="tms-content">
              <div class="tms-content-inner center">
                <div class="row">
                  <div class="column width-12">
                    <h1 class="tms-caption title-xlarge upcase color-white lspacing-large horizon"
                      data-animate-in="preset:scaleOut;duration:1000ms;">
                      Stronger Communities
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          <img data-src="<%=asset_path('project19.jpg')%>" data-retina alt=""/>
        </li>
      </ul>
    </div>
  </div>
  <!-- Intro Title Section 1 End -->

  <!-- Intro Section -->
  <section id="brief" class="section-block">
    <div class="row">
      <div class="column width-6 offset-3 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <h2 class="mb-30">Stronger NYC Communities:<br> Holistic Security</h2>
        <p class="lead left project-lead">Advancing the digital security capacities of community-based organizations that work directly with vulnerable populations.</p>
        <ul class="social-list list-horizontal text-line-vertical-dark">
        </ul>
      </div>
    </div>
  </section>
  <!-- Intro Section End -->

  <!-- Identity Section -->
  <section class="section-block replicable-content">
    <div class="row">
      <div class="column width-8 offset-2 horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <p>The New York City Mayor’s Office of Immigrant Affairs (MOIA), in collaboration with Research Action Design and Mozilla Foundation, is piloting a program designed to advance the digital security capacities of community-based organizations that work directly with immigrant populations. This project brings together a team of 10 trainers and 20 community based organizations to build together through a series of in-person workshops and online support.</p>
        <p>This program will address the unique challenges of participant groups as they tackle evolving digital security threats to their organizations, and to NYC residents whose data they collect, store and share. Together we explore strategies for integrating security strategies into existing organizational cultures and practice using critical tools. We will build awareness about digital privacy and data stewardship, collective and political efforts and campaigns to move these issues.</p>
        <p>We seek to produce a scalable framework that the City’s Nonprofit Resiliency Committee will review regarding its applicability in service to all New Yorkers.</p>
      </div>
    </div>
  </section>
  <!-- Identity Section End -->

  <!-- Pagination Section 3 -->
  <div class="section-block pagination-3 float">
    <div class="row">
      <div class="column width-12">
        <ul>
          <li><a class="pagination-previous" href="/projects/kaiser-permanente"><i class="fa fa-angle-left icon-left-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
          <li><a class="pagination-next" href="/projects/shuttleworth"><i class="fa fa-angle-right icon-right-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Pagination Section 3 End -->
