  <!-- Intro Title Section 1 -->
  <div class="content clearfix">
      <div class="tm-slider-container full-width-slider" data-parallax data-external-padding="60" data-animation="slide" data-scale-under="1140" >
        <ul class="tms-slides">
          <li class="tms-slide" data-image data-force-fit>
            <div class="tms-content">
              <div class="tms-content-inner center">
                <div class="row">
                  <div class="column width-12">
                    <h1 class="tms-caption title-xlarge upcase color-white lspacing-large horizon"
                      data-animate-in="preset:scaleOut;duration:1000ms;">
                      Field Scan
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          <img data-src="<%=asset_path('project1.png')%>" data-retina alt=""/>
        </li>
      </ul>
    </div>
  </div>
  <!-- Intro Title Section 1 End -->

  <!-- Intro Section -->
  <section id="brief" class="section-block">
    <div class="row">
      <div class="column width-6 offset-3 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <h2 class="mb-30">Technology for Social Justice<br>Field Scan</h2>
        <p class="lead left project-lead">A participatory action research project reimagining the landscape of technology for justice and equity.</p>
        <ul class="social-list list-horizontal text-line-vertical-dark">
        </ul>
      </div>
    </div>
  </section>
  <!-- Intro Section End -->

  <!-- Identity Section -->
  <section class="section-block replicable-content">
    <div class="row">
      <div class="column width-8 offset-2 horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <p>After two years of research, the Technology for Social Justice Project (T4SJ) released in August
         2018 a new report, #MoreThanCode: Practitioners Reimagine the landscape of technology
        for justice and equity. #MoreThanCode is a participatory action research report based on
        interviews, focus groups, and data analysis with 188 tech practitioners from across the U.S.A.
        The report explores the current ecosystem and demographics; practitioner experiences; visions and
        values; documents stories of success and failure; and provides key recommendations for the future of
        the field. We hope our findings and recommendations will be useful to all those who want to use technology
        to make a more just and equitable world.
        <br><br>
        <b>Key recommendations</b> include:</p>
        <ol>
          <li>Nothing About Us Without Us: Adopt Co-Design Methods and Concrete Community Accountability Mechanisms;</li>
          <br><li>From Silver Bullets to Useful Tools: Change the Narrative, Lead with Values, and Recognize Multiple Frames and Terms Across the Ecosystem;</li>
          <br><li>#RealDiversityNumbers: Adopt proven strategies for diversity and inclusion;</li>
          <br><li>Developers, Developers, Developers? Recognize Different Roles and Expertise in Tech Work, and Support Alternative Pathways to Participation;</li>
          <br><li>Coops, Collectives, and Networks, Oh My! Support Alternative Models Beyond Startups, Government Offices, and Incorporated Nonprofits.</li>
        </ol>
        <p>The project is co-led by Research Action Design (RAD.cat) and the Open Technology Institute at New America (newamerica.org/oti), together with research partners Upturn, Media Mobilizing Project, Coworker.org, Hack the Hood, May First/People Link, Palante Technology Cooperative, Vulpine Blue, and The Engine Room.</p>
        <p><b>#MoreThanCode</b>: Practitioners Reimagine the landscape of technology for justice and equity. Get it now at: <a href="https://morethancode.cc" target="_blank">https://morethancode.cc</a>!</p>
      </div>
    </div>
  </section>
  <!-- Identity Section End -->

  <!-- Pagination Section 3 -->
  <div class="section-block pagination-3 float">
    <div class="row">
      <div class="column width-12">
        <ul>
          <li><a class="pagination-previous" href="/projects/shuttleworth"><i class="fa fa-angle-left icon-left-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
          <li><a class="pagination-next" href="/projects/ftx-safety-reboot"><i class="fa fa-angle-right icon-right-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Pagination Section 3 End -->
