  <!-- Intro Title Section 1 -->
  <div class="section-block intro-title-1 bkg-gradient">
    <div class="row">
      <div class="column width-12">
        <div class="title-container">
          <div class="title-container-inner center">
            <h1 class="title-xlarge horizon title-font color-white" data-animate-in="preset:slideInRightShort;duration:1000ms;">
              Vojo Brasil
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Intro Title Section 1 End -->

  <!-- Intro Section -->
  <section id="brief" class="section-block">
    <div class="row">
      <div class="column width-6 offset-3 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <h2 class="mb-30">Project Brief</h2>
        <p class="lead left project-lead">Enabling leaders of traditional communities in Brazil that do not have internet access to send news content by cell phone.</p>
        <ul class="social-list list-horizontal text-line-vertical-dark">
        </ul>
      </div>
    </div>
  </section>
  <!-- Intro Section End -->

  <!-- Identity Section -->
  <section class="section-block replicable-content">
    <div class="row">
      <div class="column width-8 offset-2 horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <div class="thumbnail center">
          <img src="<%=asset_path('vojo-brasil-2.png')%>" alt="">
        </div>
        <p>The project “Vojo Brazil: citizen journalism in popular and traditional communities” aims to enable leaders of traditional communities in Brazil that do not have internet access to send news content by cell phone. The project will develop and conduct a series of two week workshops in human rights, racial, gender, and sexual justice, and community cell phone journalism with 150 leaders from Maroon, indigenous, landless, periphery dwelling, fisherfolk, and other marginalized communities, in 5 states in Brazil, over the course of 2 years.</p>
        <p>The project’s goal is to empower popular Brazilian communities, by optimizing the use of cell phones with the Vojo platform. <a href="http://vojo.co/" target="_blank">Vojo</a> enables any mobile phone user to create and update blogs, audio, video and text, even if they do not have computer or internet on their mobile devices. In addition, the project aims to connect the diverse communities around a network so that they can articulate and seek greater visibility to the public regarding their social, cultural and political demands of their territories.</p>
        <p>The software that powers Vojo was originally codesigned with Latin@ immigrants in Los Angeles in the <a href="http://vozmob.net/" target="_blank">VozMob project</a>. The Vojo platform was then developed by researchers at the MIT Center for Civic Media and Research Action Design (RAD), and was later tested with Brazilian domestic workers living in the city of Boston.  Already in 2013 with support from the Ford Foundation, there has been a project of translation and testing of the Vojo technology with young maroon communities of Ilha de Maré in Salvador.  The project was successful, fulfilling its goal of testing the technology, training 25 youth, and presenting the proposal to the press.</p>
        <p>In this second phase, we will localize the platform by working with leaders of traditional communities in five major regions of Brazil so they can take ownership of the technology and replicate it in their communities. The project will focus on social leaders, especially women, who work in defending their territories, traditional ways of life and outlying communities. Particularly, we are interested in working with maroon groups, fisherfolk, periphery dwellers, people of African descent, indigenous riverine groups, and so on.</p>
      </div>
    </div>
  </section>
  <!-- Identity Section End -->

  <!-- Content Section -->
  <div class="section-block replicable-content bkg-charcoal color-white">
    <div class="row">
      <div class="column width-10 horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.5">
        <p class="lead">We are working with the following geographical areas and social groups:</p>
      </div>
      <div class="column width-12 offset-1 left horizon">
        <ul>
          <li><h5 class="color-white">Bahia (fisherfolk, maroons, and indigenous peoples)</h5></h5></li>
          <li><h5 class="color-white">Maranhão (maroon, chestnut, coconut breakers)</h5></li>
          <li><h5 class="color-white">Pernambuco (maroon, seafood, and indigenous peoples)</h5></li>
          <li><h5 class="color-white">Sao Paulo (MSTS, slums, indigenous communities and Quilombos)</h5></li>
          <li><h5 class="color-white">Rio de Janeiro (MSTS, slums and Quilombos)</h5></li>
        </ul>
      </div>
      </div>
  </div>
  <!-- Content Section End -->

  <!-- Identity Section -->
  <section class="section-block replicable-content">
    <div class="row">
      <div class="column width-8 offset-2 horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <p>The workshops will take two steps. The first will be to raise awareness of issues related to media and political participation, with a focus on gender and race. In the second step, we will make use of the technical Vojo tool with a practical workshop, using the methodology of dividing into teams and creating simulated reports. The idea is that after training, content produced is available on a virtual channel to be accessed by the media, especially community and public radio stations, so they can replicate this content in their schedules. The selection of participants will take place through partnerships with networks of traditional communities in the identified region. Project coordinators will work with local leaders to identify people to participate in the training. The criteria of gender and generation shall be observed to ensure the diversity of participants.</p>
        <div class="thumbnail center">
          <img src="<%=asset_path('vojo-brasil-1.png')%>" alt="">
        </div>
      </div>
    </div>
  </section>
  <!-- Identity Section End -->


  <!-- Pagination Section 3 -->
  <div class="section-block pagination-3 float">
    <div class="row">
      <div class="column width-12">
        <ul>
          <li><a class="pagination-previous" href="#"><i class="fa fa-angle-left icon-left-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
          <li><a class="pagination-next" href="#"><i class="fa fa-angle-right icon-right-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Pagination Section 3 End -->
