  <!-- Intro Title Section 1 -->
  <div class="section-block intro-title-1 bkg-gradient">
    <div class="row">
      <div class="column width-12">
        <div class="title-container">
          <div class="title-container-inner center">
            <h1 class="title-xlarge horizon title-font color-white" data-animate-in="preset:slideInRightShort;duration:1000ms;">
              Who Pays?<br>The True Cost of Incarceration
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Intro Title Section 1 End -->

  <!-- Intro Section -->
  <section id="brief" class="section-block">
    <div class="row">
      <div class="column width-6 offset-3 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <h2 class="mb-30">Project Brief</h2>
        <p class="lead left project-lead">This research project seeks to address the lack of representation and the misrepresentation of low-income communities of color in the design of smart solutions.</p>
        <ul class="social-list list-horizontal text-line-vertical-dark">
        </ul>
      </div>
    </div>
  </section>
  <!-- Intro Section End -->

  <!-- Identity Section -->
  <section class="section-block replicable-content">
    <div class="row">
      <div class="column width-8 offset-2 horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <div class="thumbnail center">
          <img src="<%=asset_path('whopays.png')%>" alt="">
        </div>
        <br>
        <p><a href="http://whopaysreport.org/" target="_blank">Who Pays?</a> is a national community-driven research project. The research presented in this report was led by the collaborative efforts of the <a href="http://ellabakercenter.org/" target="_blank">Ella Baker Center for Human Rights</a>, <a href="http://forwardtogether.org/" target="_blank">Forward Together</a>, and Research Action Design with extensive research and participation by the local partners listed below. This research and its contributing organizations seek to address the lack of representation and the misrepresentation of low-income communities of color in the design of smart solutions that can break the cycles of violence and poverty exacerbated by the criminal justice system at the local, state, and national levels. This research also sought to uncover some of the ways individuals, families, and communities disparately experience these punitive practices based on race, class, gender, and sexuality.</p>
        <p>Together, the research team surveyed 1,080 formerly incarcerated individuals and families with incarcerated loved ones and conducted thirty-four focus group sessions. The research documents participants’ experiences with the criminal justice system and solicits their thoughts about how that system needs to change to support their families. The resulting report is a culmination of these efforts and will contribute to family-centered policy solutions furthered by the participating organizations and our allies.</p>
        <br>
      </div>
    </div>
  </section>
  <!-- Identity Section End -->

  <!-- Pagination Section 3 -->
  <div class="section-block pagination-3 float">
    <div class="row">
      <div class="column width-12">
        <ul>
          <li><a class="pagination-previous" href="/projects/votervox"><i class="fa fa-angle-left icon-left-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
          <li><a class="pagination-next" href="/projects/digital-privacy-data-literacy"><i class="fa fa-angle-right icon-right-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Pagination Section 3 End -->
