  <!-- Intro Title Section 1 -->
  <div class="section-block intro-title-1 bkg-gradient">
    <div class="row">
      <div class="column width-12">
        <div class="title-container">
          <div class="title-container-inner center">
            <h1 class="title-xlarge horizon title-font color-white" data-animate-in="preset:slideInRightShort;duration:1000ms;">
              Worker Fatality Database
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Intro Title Section 1 End -->

  <!-- Intro Section -->
  <section id="brief" class="section-block">
    <div class="row">
      <div class="column width-6 offset-3 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <h2 class="mb-30">Project Brief</h2>
        <p class="lead left project-lead">The Worker Fatality Database collects data on work-related fatal injuries in the United States from multiple public sources.</p>
        <ul class="social-list list-horizontal text-line-vertical-dark">
        </ul>
      </div>
    </div>
  </section>
  <!-- Intro Section End -->

  <!-- Identity Section -->
  <section class="section-block replicable-content">
    <div class="row">
      <div class="column width-8 offset-2 horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
        <p>The Worker Fatality Database collects data on work-related fatal injuries in the United States from multiple public sources. RAD collaborated with the National Council for Occupational Safety and Health (NCOSH Network) to develop <a href="http://www.coshnetwork.org/fatality-database-report" target="_blank">a web-based public submission process</a>, available in English and Spanish, to gather information about cases of work-related fatal injuries to add to the database and a set of database administration tools to allow NCOSH Network staff to manage the database with greater ease.</p>
        <p>There is no high-quality public data currently available about work-related fatal injuries in the United States. Existing data sets are incomplete, poorly maintained, and/or not publicly accessible. Worker advocates have assembled the most accurate, complete listing of workplace fatalities for 2014 and partial listing for 2015 that has ever been available. An incredible group of volunteers across the U.S. have assembled this list from every source available (news stories, local databases, using foias, etc.). Yet this list only includes approximately 1/3 of the total workplace fatalities from traumatic causes and just 2.5% of all work-related deaths (i.e. including injuries and illnesses). Distributed volunteer maintenance of this data has been challenging, in part because of duplicate entries. The problem of duplicate entries also makes it difficult to harness the potential power of public participation in contributing to a more complete and accurate data set. This project aims to develop simplified online tool for public submission of known work-related fatal injuries, and do so in a manner that facilitates the rapid identification of potential duplicate entries.</p>
        <p>For more information about the NCOSH Network: <a href="http://www.coshnetwork.org/" target="_blank">http://www.coshnetwork.org</a></p>
      </div>
    </div>
  </section>
  <!-- Identity Section End -->

  <!-- Pagination Section 3 -->
  <div class="section-block pagination-3 float">
    <div class="row">
      <div class="column width-12">
        <ul>
          <li><a class="pagination-previous" href="/projects/ftx-safety-reboot"><i class="fa fa-angle-left icon-left-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
          <li><a class="pagination-next" href="/projects/votervox"><i class="fa fa-angle-right icon-right-open-mini color-charcoal color-hover-white" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Pagination Section 3 End -->
