.header {
  .nav-bar {
    .logo-text {
      float: left;

      a {
        color: #333333;
        font-family: "Oswald", sans-serif;
        font-size: 3.5rem;
        font-style: italic;
        font-weight: 700;
        height: 8rem;
        line-height: 8rem;
        position: absolute;
        text-transform: uppercase;
        transition-duration: 500ms;
        transition-property: line-height, opacity;
      }

      .short-text {
        display: none;
      }

      @media only screen and (max-width: 500px) {
        .short-text {
          display: block;
        }

        .full-text {
          display: none;
        }
      }
    }

    .logo {
      @media only screen and (max-width: 960px) {
        display: none;
      }
    }

    /* white mode */
    &--white {
      ul > li > a {
        color: white;
        opacity: 0.9;
      }

      .logo-text {
        a {
          color: #ffffff;
        }
      }
    }
  }
}

/* Compacted Height */
.header-compact {
  .logo-text {
    a {
      height: 6rem;
      line-height: 6rem;

      /* Hide animation */
      opacity: 0;
    }
  }
}

body.mobile {
  /* Only display text on mobile */
  .header {
    .nav-bar {
      .logo {
        display: none;
      }
    }
  }
}
